section.authors
  .container
    .grid-center.grid-middle
      .col-1.text-center
        i.fas.fa-2x.fa-chevron-circle-left
      .col-5
        h2
          | Your Author
        h4
          | Earle Castledine
        p
          | Earle Castledine—JavaScript flâneur and internet flibbertigibbet—is back! By day it’s serious business while Earle
          | steers the ship as lead engineer at hot startups. By night his attention turns to the world of weird art and
          | wonderful game design.
      .col-3
        .author-avatar
          img(src="https://learnable-avatars.s3.amazonaws.com/4/479/47906/profile_1__thumb.jpg")
        ul.author-specs
          li
            i.fas.fa-book
            |  3 Books
          li
            i.far.fa-star
            |  Rating: 4.7/5
          li
            i.far.fa-user
            |  Readers: 90,017
          li
            i.fab.fa-twitter
            a(href="https://twitter.com/mrspeaker?lang=en") @mrspeaker
          li
            i.fab.fa-github
            a(href="https://github.com/mrspeaker") Github
      .col-1.text-center
        i.fas.fa-2x.fa-chevron-circle-right