section.authors
  .container
    .grid-center.grid-middle
      .col-1.text-center
        a(href="#")
          i.fas.fa-2x.fa-chevron-circle-left
      .col-5
        h2
          | Your Instructor
        h4
          | Mark Price
        p
          | I am a veteran mobile developer having built over 57 mobile apps for iOS and Android, and I've also build multiple
          | Unity 3D games, including Call of Duty Ghosts mobile.
        p
          | I also spend most of my days now as a professional engineering instructor - changing the lives of students throughout the
          | world - helping them make amazing salaries as engineers.
      .col-3
        .author-avatar
          img(src="https://cdn.rawgit.com/sitepoint/Complete-Cover-Archive/New-UX-books/misc/author%402x%20(1).jpg")
        ul.author-specs
          li
            i.fas.fa-film
            | 5 Courses
          li
            i.far.fa-star
            | Rating: 4.7/5
          li
            i.far.fa-user
            | Students: 90,017
          li
            i.fab.fa-twitter
            | @iSpentak
          li
            i.fab.fa-facebook-f
            | devslopes
      .col-1.text-center
        a(href="#")
          i.fas.fa-2x.fa-chevron-circle-right