doctype html
head
  meta(charset="utf-8")
  title Styles - Styles 
  meta(name="description" content="")
  meta(name="author" content="")
  link(rel="stylesheet" type="test/css" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css")
  // The Grid system
  link(rel="stylesheet" type="test/css" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,600,700")
  // Font
  link(rel="stylesheet" type="text/css" href="styles/css/checkout.css")
  
  
body.-borders.-labelling.-vertical-rhythm

  include header-simple.pug
  
  section.checkout
    .container
      .grid-12
        .col-4
          h2 Instant Premium Access
          //#val.alert.alert-info
          .grid-12.overline
            .col-12.productframe
              .book.view3d.size-small.chunky.highview.oclock-11
                .cover
                  img(src="https://raw.githubusercontent.com/sitepoint/Complete-Cover-Archive/New-UX-books/games1/9780994182616-Perfect-html5-games-small.png" alt="Book cover: HTML5 Games")
            .col-12
              h5 Including... 
              ul
                li 70+ SitePoint Books (PDF &amp; ePUB)
                li 80+ Premium Video Courses              
              .grid-12.priceline
                .col-4 
                  | Total:
                .col-4
                  span.price
                    strike $15 
                .col-4.text-center 
                  span.price
                    | $9
              .col.text-center
                small Discount applied. Expires in 24 hours
        .col-8.dark
          include checkout-new.pug

  include footer.pug
  include scripts.pug
