// This include is a copy of the current (March 2018) SitePoint checkout HTML
// For qDemo/dev purposes only

.Cart_payment
  .Cart_form.t-bg-white
    form-purchase-inline(cc_required='true', enable_recaptcha='false', heading='2 years access to SitePoint Premium. Download all our books and courses for just $99.', name='2-years-spp-for-99', paypal_checkout='false', product='Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5', recaptcha_site_key='6LfNbAkUAAAAAABdwD-Abx1-JT--D7QCtAERx0UL', stripe_api_key='pk_live_LdoORv64yeHT6x6lSrRZ3ta1', submit='Get Started!')
      div(data-reactroot='')
        form.Form
          div
            .l-pa3
              .l-w-100.l-mb3
                label.f-smaller.f-light(for='cardName') Card Name
                input#cardName.Form_input.l-w-100(type='text', name='cardName', placeholder='Bob T Builder')
              div
                label.f-smaller.f-light
                  // react-text: 10
                  | Card Number
                  // /react-text
                  .l-mb3.l-mt2.m-border.l-pa2.StripeElement--empty
                    .__PrivateStripeElement(style='margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;')
                      iframe(frameborder='0', allowtransparency='true', scrolling='no', name='__privateStripeFrame3', allowpaymentrequest='true', src='https://js.stripe.com/v3/elements-inner-card-fc46555cc9b6940c0a5f024e93ccc35d.html#style[base][fontFamily]=Roboto%2C+Helvetica+Neue%2C+Helvetica%2C+Arial%2C+sans-serif&style[base][color]=%23424242&componentName=cardNumber&wait=false&rtl=false&features[noop]=false&origin=https%3A%2F%2Fwww.sitepoint.com&referrer=https%3A%2F%2Fwww.sitepoint.com%2Fpremium%2Fproducts%2FZ2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5&controllerId=__privateStripeController0', title='Secure payment input frame', style='border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 16.8px;')
                      input.__PrivateStripeElement-input(aria-hidden='true', style='border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important;')
                label.f-smaller.f-light
                  // react-text: 13
                  | Card Expiration Date
                  // /react-text
                  .l-mb3.l-mt2.m-border.l-pa2.StripeElement--empty
                    .__PrivateStripeElement(style='margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;')
                      iframe(frameborder='0', allowtransparency='true', scrolling='no', name='__privateStripeFrame4', allowpaymentrequest='true', src='https://js.stripe.com/v3/elements-inner-card-fc46555cc9b6940c0a5f024e93ccc35d.html#style[base][fontFamily]=Roboto%2C+Helvetica+Neue%2C+Helvetica%2C+Arial%2C+sans-serif&style[base][color]=%23424242&componentName=cardExpiry&wait=false&rtl=false&features[noop]=false&origin=https%3A%2F%2Fwww.sitepoint.com&referrer=https%3A%2F%2Fwww.sitepoint.com%2Fpremium%2Fproducts%2FZ2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5&controllerId=__privateStripeController0', title='Secure payment input frame', style='border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 16.8px;')
                      input.__PrivateStripeElement-input(aria-hidden='true', style='border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important;')
                label.f-smaller.f-light
                  // react-text: 16
                  | Card CVC
                  // /react-text
                  .l-mb3.l-mt2.m-border.l-pa2.StripeElement--empty
                    .__PrivateStripeElement(style='margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;')
                      iframe(frameborder='0', allowtransparency='true', scrolling='no', name='__privateStripeFrame5', allowpaymentrequest='true', src='https://js.stripe.com/v3/elements-inner-card-fc46555cc9b6940c0a5f024e93ccc35d.html#style[base][fontFamily]=Roboto%2C+Helvetica+Neue%2C+Helvetica%2C+Arial%2C+sans-serif&style[base][color]=%23424242&componentName=cardCvc&wait=false&rtl=false&features[noop]=false&origin=https%3A%2F%2Fwww.sitepoint.com&referrer=https%3A%2F%2Fwww.sitepoint.com%2Fpremium%2Fproducts%2FZ2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5&controllerId=__privateStripeController0', title='Secure payment input frame', style='border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 16.8px;')
                      input.__PrivateStripeElement-input(aria-hidden='true', style='border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important;')
            .t-bg-grey-200.l-pa3
              button.Button.l-w-100 Submit
              p.Form_p.f-small
                // react-text: 21
                | By submiting this form, you agree to our
                // /react-text
                br
                a(href='http://www.sitepoint.com/legals/', target='_blank') Terms of Service
                // react-text: 24
                // /react-text
                // react-text: 25
                | and
                // /react-text
                // react-text: 26
                // /react-text
                a(href='http://www.sitepoint.com/privacy-policy/', target='_blank') Privacy Policy
                // react-text: 28
                | .
                // /react-text