doctype html
head
  meta(charset="utf-8")
  title Styles - Styles 
  meta(name="description" content="")
  meta(name="author" content="")
  link(rel="stylesheet" type="test/css" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css")
  // The Grid system
  link(rel="stylesheet" type="test/css" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,600,700")
  // Font
  link(rel="stylesheet" type="text/css" href="styles/css/base.css")
  
body.borders.-labelling.-vertical-rhythm

  include header.pug
  
  section.name
    .container
      .grid-12
        .col-8
          h3 col 6
        .col-4
          h3 col 6          







  include footer.pug
