


section.feedback
  .container
    .grid-12
      .col-12
        h2
          | What Readers Say
      .col-6
        .grid-12
          .col-12
            .review
              .grid-12.large
                .col-5
                  .avrating 4.8
                .col-7
                  .rating-box
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
              .ReviewsMeta_breakdown
                .Breakdown
                  .Breakdown_label
                    | 5 Star

                  .Breakdown_bg
                    .Breakdown_fill(style="width: 80%;")
                  .Breakdown_count 32
                .Breakdown
                  .Breakdown_label

                    | 4 Star

                  .Breakdown_bg
                    .Breakdown_fill(style="width: 12%;")
                  .Breakdown_count 5
                .Breakdown
                  .Breakdown_label

                    | 3 Star

                  .Breakdown_bg
                    .Breakdown_fill(style="width: 5%;")
                  .Breakdown_count 2
                .Breakdown
                  .Breakdown_label

                    | 2 Star

                  .Breakdown_bg
                    .Breakdown_fill(style="width: 2%;")
                  .Breakdown_count 1
                .Breakdown
                  .Breakdown_label

                    | 1 Star

                  .Breakdown_bg
                    .Breakdown_fill(style="width: 0%;")
                  .Breakdown_count 0
          .col-6 
            .review
              .rating-box
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              p
                | Practical advise and good standards for design. I definitely recommend reading if you are using forms
              p.avatar
                | Annalusia.
                img(src="https://s3.amazonaws.com/uifaces/faces/twitter/tonypeterson/128.jpg")
          .col-6 
            .review
              .rating-box
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
              p
                | Definitely a good read, form design is as important as the information that you intend to collect.
              p.avatar
                | Jina.
                img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jina/128.jpg")
        



      
      .col-3
        .review
          .rating-box
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          p
            | I am really digging this book and appreciate the effort Jessica has put into it!
          p.avatar
            | Adelle Charles.
            img(src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg")

        .review
          .rating-box
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
          p
            | Useful to design elegant and useful landing page, I use to make this goal and I made it simple and quickly my project.
          p.avatar
            | Vista.
            img(src="https://s3.amazonaws.com/uifaces/faces/twitter/vista/128.jpg")

      .col-3
        .review
          .rating-box
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p
            | Earle is a very entertaining writer and this book sets useful, fun goals and delivers them in attainable ways. Sure, there's some JavaScript to learn, but it should be within the grasp of most practical-minded people.
          p.avatar
            | Sally K.
            img(src="https://d3iw72m71ie81c.cloudfront.net/female-52.jpg")

        .review
          .rating-box
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
          p
            | Very useful, a good blend of theory and practical information.
          p.avatar
            | Brad. F.
            img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")