
// footer
footer.mainfooter
  .container
    .grid
      .col
        | Stuff We Do
        ul
          li.l-ml3.f-c-grey-300.l-mb2.Footer-points
            a.Footer-link.f-small(href="/") SitePoint Home
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/versioning/") Versioning
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/themes/") Themes
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/community/") Forums
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/html-css/css/") References
      .col
        | About
        ul
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/about-us/") Our Story
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/press/") Press Room
      .col
        | Contact
        ul
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/contact-us/") Contact Us
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="https://sitepoint.zendesk.com/hc/en-us") FAQ
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/write-for-us/") Write for Us
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/advertise/") Advertise
      .col
        | Legals
        ul
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/premium/legals") Terms of Use
          li.l-ml3.f-c-grey-300.l-mb2
            a.Footer-link.f-small(href="/premium/privacy-policy") Privacy Policy