
// header-simple.pug
// Used in Checkout to reduce leakage opportunities

header.sitepoint
  .container
    .grid-12
      .col-3
        .branding 
          i.fas.fa-bars.hamburger
          img.branding-logo(src="https://cdn.rawgit.com/alexmwalker/038d08ab767b9fa0ae765b00d7f41622/raw/b3b34065187c08d94c85c5417030e2d881085c8a/sp-logo.svg")
      .col-6
      .col-3
        .dash-controls.right-text
          i.fas.fa-tachometer-alt
          |  Dashboard


