section.hero
  .container
    .grid-12
      .col-7_md-6
        .heroPitch.is-size-2
          | Create awesome video games. Games from scratch. Games that run cross-platform – in web browsers and on phones.
      .col-5_md-6
        .specs-unit
          .book.view3d.size-mid.oclock-1.chunky.hover.aspect8-10
            a(href="#openModal")
              .cover#slide1
                img(src="https://raw.githubusercontent.com/sitepoint/Complete-Cover-Archive/New-UX-books/games1/9780994182616-Perfect-html5-games-small.png" alt="Book cover: HTML5 Games")
          include specs-book.pug 
section.about
  .container
    .grid-12
      .col-7
        h2
          | About the book
        p
          | This book will teach you how to create awesome video games. Games from scratch. Games that run cross-platform, in web browsers,
          | and on phones. Games filled with dynamic sound and music. Games overflowing with impressive visual effects. Fun
          | games.
        p
          | More importantly, this book will teach you how to think about making games. You’ll learn to analyze and dissect
          | games—to understand what it is that makes great games great. By the end of the journey you’ll have all the knowledge
          | and tools needed to produce engaging, polished products that people will love to play.
      .col-5