section.hero
  .container
    .grid-12
      .col-7_md-6
        .heroPitch.is-size-2
          | Create awesome video games. Games from scratch. Games that run cross-platform – in web browsers and on phones.
      #pinit.col-5_md-6
        .modal-control.modal-book
          ul
            li December 2017
            li 452 Pages
          a.do(href="#openModal") Preview
          a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5") Buy
        .book.view3d.size-mid.oclock-1.hover
          a(href="#openModal")
            .cover
              img(src="https://raw.githubusercontent.com/sitepoint/Complete-Cover-Archive/New-UX-books/games1/9780994182616-Perfect-html5-games-small.png" alt="Book cover: HTML5 Games")
section.about
  .container
    .grid-12
      .col-7
        h2
          | About the book
        p
          | This book will teach you how to create awesome video games. Games from scratch. Games that run cross-platform, in web browsers,
          | and on phones. Games filled with dynamic sound and music. Games overflowing with impressive visual effects. Fun
          | games.
        p
          | More importantly, this book will teach you how to think about making games. You’ll learn to analyze and dissect
          | games—to understand what it is that makes great games great. By the end of the journey you’ll have all the knowledge
          | and tools needed to produce engaging, polished products that people will love to play.
      .col-5
        ul.specs
          li
            a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5")
              | Get this Book
          li.icon
            i.far.fa-calendar-alt
            |  Last Updated: Jan 2018
          li.icon.specs-video
            i.far.fa-file
            |  452 pages
          li.icon.specs-length
            i.fas.fa-list-ol
            |  14 Chapters
          li.icon.specs-projects
            i.fas.fa-folder-open
            |  Real World Projects
          li.icon.specs-students
            i.fas.fa-users
            |  13,547 Readers