section.hero
  .container
    .grid-12
      .col-7
        .heroPitch.is-size-2
          | Get to know the world’s most popular JavaScript front-end framework by building a swag shop project!
      #pinit.col-5
        .modal-control.modal-course
          a.do(href="#openModal") Preview
          a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5") Buy
        .course
          a(href="#openModal")
            .cover
              img(src="images/course-vid@2x.jpg")
section.about
  .container
    .grid-12
      .col-7
        h2
          | About the course
        p
          | React is the most popular JavaScript library for building user interfaces, and it has been for some time.
        p
          | Aside from making modern web UI development a breeze, React is one of the most in-demand skillsets on the job market
          | right now.
        p
          | It’s declarative and considered more flexible than other frameworks like Vue.
        p
          | In this course, you’ll get a thorough introduction to real-world React.
        p
          | We’ll introduce you to the tools that’ll help you get ahead and create a React skeleton project. Then we’ll
          | start building our project, an online swag shop, diving into promises, components, props, state, data services
          | and notifications.
        p
          | By the end, you’ll have learned everything you need to know to start building web apps with React, and worked
          | with some other high-demand technologies along the way, such as Node and MongoDB.
      .col-5
        ul.specs
          li
            a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5")
              | Buy this Course
          li.icon
            i.far.fa-calendar-alt
            |  Last Updated: Jan 2018
          li.icon.specs-video
            i.fas.fa-video
            |  14 Video Lessons
          li.icon.specs-length
            i.far.fa-clock
            |  Total time: 2 Hrs 45 min
          li.icon.specs-students
            i.fas.fa-graduation-cap
            |  13,547 Happy Students