doctype html
head
  meta(charset="utf-8")
  title Styles - Styles 
  meta(name="description" content="")
  meta(name="author" content="")
  link(rel="stylesheet" type="test/css" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css")
  // The Grid system
  link(rel="stylesheet" type="test/css" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,600,700")
  // Font
  link(rel="stylesheet" type="text/css" href="styles/css/base.css")
  
body.borders.-labelling.vertical-rhythm

  include header.pug
  
  include titling.pug

  include hero-book.pug

  include who.pug

  include readers-say.pug

  include what.pug

  include authors.pug

  include feedback.pug

  include outline.pug

  include footer.pug

  include modal-book.pug

  include scripts.pug



