
// modal
#openModal.modalbg
  .dialog
    a.close(href="#close" title="Close") X
    .grid-12
      .col-3
        .grid-12
          .col-12.toctitle
            h3 HTML5 Games: Novice to Ninja
          .col-12.toclist
            table.toc
              tr
                td  1:
                td
                  | Press Space to Start
                td 1
              tr.disabled
                td  2: 
                td
                  | Drawing Things
                  i.fas.fa-lock
                td 25
              tr.disabled
                td  3:
                td
                  | Game Loops &amp; User Input
                  i.fas.fa-lock
                td 53
              tr.disabled
                td  4: 
                td
                  | Animation, Levels, Maps, Cameras…
                  i.fas.fa-lock
                td 104
              tr.disabled
                td  5: 
                td
                  | Collision Detection &amp; AI.
                  i.fas.fa-lock
                td 162
              tr.disabled
                td  6: 
                td
                  | Mathematics &amp; Physics
                  i.fas.fa-lock
                td 212
              tr.disabled
                td  7: 
                td
                  | Audio
                  i.fas.fa-lock
                td 269
              tr.disabled
                td  8: 
                td
                  | Bringing a Game to Life with “Juice”
                  i.fas.fa-lock
                td 322
              tr.disabled
                td  9: 
                td
                  | Optimizing &amp; Packaging
                  i.fas.fa-lock
                td 389
              tr.disabled
                td  10: 
                td
                  | Bonus Round: The Epilogue
                  i.fas.fa-lock
                td 442
          .col-12.tocCTA.col-bottom
            a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5") Get this Book
      .col-9
        object(data="files/html5games1.pdf" type="application/pdf" width="80%" height="80vh")
          p
            | This browser does not support viewing PDFs. Please download the PDF to view it:
            a(href="files/book-sample.pdf") Download PDF
            | .