#openModal.modalbg
  .dialog
    a.close(href="#close" title="Close") X
    .grid-12
      .col-3
        .grid-12
          .col-12.toctitle
            h3 Intro to React
          .col-12.toclist
            table.toc.toc-course
              thead
                tr
                  th(title="Field #1") Lesson
                  th(title="Field #2") Time
              tbody
                tr
                  td Setting up React Tooling 
                  td  18:36
                tr.disabled
                  td
                    | Installing Bootstrap 
                    i.fas.fa-lock
                  td  11:06
                tr.disabled
                  td
                    | Setting up the API 
                    i.fas.fa-lock
                  td  6:06
                tr.disabled
                  td
                    | Creating a HTTP Service 
                    i.fas.fa-lock
                  td  18:41
                tr.disabled
                  td
                    | Promises with ES6 and React 
                    i.fas.fa-lock
                  td  12:00
                tr.disabled
                  td
                    | Components in React 
                    i.fas.fa-lock
                  td  13:27
                tr.disabled
                  td
                    | Props in React 
                    i.fas.fa-lock
                  td  10:42
                tr.disabled
                  td
                    | Working with State in React 
                    i.fas.fa-lock
                  td  13:22
                tr.disabled
                  td
                    | Creating a WishList Component 
                    i.fas.fa-lock
                  td  24:29
                tr.disabled
                  td
                    | Building a Singleton Data Service 
                    i.fas.fa-lock
                  td  11:02
                tr.disabled
                  td
                    | Creating a Notification Service 
                    i.fas.fa-lock
                  td  12:49
                tr.disabled
                  td
                    | Posting Notifications to React Components 
                    i.fas.fa-lock
                  td  7:09
                tr.disabled
                  td
                    | Observing Notifications in React 
                    i.fas.fa-lock
                  td  13:27
                tr.disabled
                  td
                    | Finishing our Full Stack React App 
                    i.fas.fa-lock
                  td  15:52
                tr
                  td(colspan=2 style="text-align:right")
                    strong
                      | Total: 2hrs 25min

      .col-9
        .grid-12
          .col-12
            .course-preview
              iframe(width="100%" style="margin-top:2rem" height="500px" src="https://www.youtube.com/embed/6EN1cXiTdcw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
          .col-12
            a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5") Get this Course     
