


// Outline
section.outline
  .container
    .grid-12
      .col-7
        h2
          | Intro to React 
          table.toc
            thead
              tr
                th(title="Field #1") Lesson
                th(title="Field #2") time
            tbody
              tr
                td Setting up React Tooling 
                td 
                  i.fas.fa-unlock-alt
                td  18:36
              tr.disabled
                td
                  | Installing Bootstrap 
                td
                  i.fas.fa-lock
                td  11:06
              tr.disabled
                td
                  | Setting up the API 
                td
                  i.fas.fa-lock
                td  6:06
              tr.disabled
                td
                  | Creating a HTTP Service 
                td
                  i.fas.fa-lock
                td  18:41
              tr.disabled
                td
                  | Promises with ES6 and React 
                td
                  i.fas.fa-lock
                td  12:00
              tr.disabled
                td
                  | Components in React 
                td
                  i.fas.fa-lock
                td  13:27
              tr.disabled
                td
                  | Props in React 
                td
                  i.fas.fa-lock
                td  10:42
              tr.disabled
                td
                  | Working with State in React 
                td
                  i.fas.fa-lock
                td  13:22
              tr.disabled
                td
                  | Creating a WishList Component 
                td
                  i.fas.fa-lock
                td  24:29
              tr.disabled
                td
                  | Building a Singleton Data Service 
                td
                  i.fas.fa-lock
                td  11:02
              tr.disabled
                td
                  | Creating a Notification Service 
                td
                  i.fas.fa-lock
                td  12:49
              tr.disabled
                td
                  | Posting Notifications to React Components 
                td
                  i.fas.fa-lock
                td  7:09
              tr.disabled
                td
                  | Observing Notifications in React 
                td
                  i.fas.fa-lock
                td  13:27
              tr.disabled
                td
                  | Finishing our Full Stack React App 
                td
                  i.fas.fa-lock
                td  15:52
      .col-5
        ul.specs
          li
            a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5")
              | Buy this Course
          li.icon
            i.far.fa-calendar-alt
            |  Last Updated: Jan 2018
          li.icon.specs-video
            i.fas.fa-video
            |  14 Video Lessons
          li.icon.specs-length
            i.far.fa-clock
            |  Total time: 2 Hrs 45 min
          li.icon.specs-students
            i.fas.fa-graduation-cap
            |  13,547 Happy Students