


// Outline
section.outline
  .container
    .grid-12
      .col-7
        h2
          | HTML5 Games: Novice to Ninja
        table.toc.toc-book
          tr
            th Chapter
            th Title 
          tr
            td 1
            td Title Which Browsers Should Your Website Support? 
          tr
            td 2
            td Are Your WordPress Themes Flexible or Fast?
          tr
            td 3
            td  Five Techniques to Lazy Load Images for Website Performance 
          tr
            td 4
            td Optimizing CSS: ID Selectors and Other Myths 
          tr
            td 5
            td Optimizing CSS: Tweaking Animation Performance with DevTools 
          tr
            td 6
            td Lightning Fast Websites with Prefetching 
          tr
            td 7
            td Optimizing Web Fonts for Performance: the State of the Art 
          tr
            td 8
            td JavaScript Performance Optimization Tips: An Overview 
          tr
            td 9
            td 7 Performance Tips for Jank-free JavaScript Animations 
          tr
            td 10
            td What Is a CDN and How Does It Work?
      .col-5
        ul.specs
          li
            a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5")
              | Get this Book
          li.icon
            i.far.fa-calendar-alt
            |  Last Updated: Jan 2018
          li.icon.specs-video
            i.far.fa-file
            |  452 pages
          li.icon.specs-length
            i.fas.fa-list-ol
            |  14 Chapters
          li.icon.specs-projects
            i.fas.fa-folder-open
            |  Real World Projects
          li.icon.specs-students
            i.fas.fa-users
            |  13,547 Readers      