
section.readers-say
  .container
    .grid-spaceBetween
      h2.col-12 What readers say
      dl.col-5
        dd
          .rating-box
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          | Very comprehensive. I have enjoyed the learning experience - well actually still in the learning process. The only thing I would have liked is a complete index reference.
        dt.avatar
          | Alex Lloyd
          img(src="https://s3.amazonaws.com/uifaces/faces/twitter/vista/128.jpg" alt="Peter")
      dl.col-5
        dd
          .rating-box
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          | If you are interested in game development in JavaScript, then this book is a must-read.
        dt.avatar
          | Peter Gwynn
          img(src="https://s3.amazonaws.com/uifaces/faces/twitter/tonypeterson/128.jpg" alt="Peter")
      .col-12
