ul.specs
  li
    a.buy(href="https://www.sitepoint.com/premium/products/Z2lkOi8vbGVhcm5hYmxlL1Byb2R1Y3QvMTE5")
      | Get this Book
  li.icon
    i.far.fa-calendar-alt
    |  Last Updated: Jan 2018
  li.icon.specs-video
    i.far.fa-file
    |  452 pages
  li.icon.specs-length
    i.fas.fa-list-ol
    |  14 Chapters
  li.icon.specs-projects
    i.fas.fa-folder-open
    |  Real World Projects
  li.icon.specs-students
    i.fas.fa-users
    |  13,547 Readers