section.titling
  .container
    .grid-12
      .col-9
        p.book-breadcrumbs
          | SitePoint : Games : Books
        h1
          | HTML5 Games: Novice to Ninja
        p.book-author
          | By Earle Castledine
      .col-3.center-text
        h5 3.9 Average User Rating
        .small 13,000+ students have read this
        .rating-box
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
        .small
          a(href="#") (from 2,287 user reviews)