section.whatyoulllearn
  .container
    .grid-12
      .col-8
        h2
          | What You'll Learn
        .grid-12
          .col-6.image
            img(src="images/image24.jpg")
          .col-6.blurb
            h5 Chapter 6
            h4 Optimizing Web Fonts for Performance: the State of the Art
            p
              | 67% of webpages now use custom fonts. In this article, Maria covers how web fonts are commonly used, what’s
              | not working, and some well-tested.
          .col-6.image
            img(src="images/image27.jpg")
          .col-6.blurb
            h5 Chapter 7
            h4 What Is a CDN (and How Does It Work)?
            p
              | CDN - you keep seeing the acronym. Maybe in URLs, maybe on landing pages, but it never quite clicked - what
              | are Content Delivery Networks, what do they do exactly?
          .col-6.image
            img(src="images/image28.jpg")
          .col-6.blurb
            h5 Chapter 10
            h4 Build a Notification Systems
            p
              | Bad CSS animations make your users’ CPU scream like a taxiing 747. That’s generally bad UX, m’kay? Relax. Maria
              | will show you how to use Chrome DevTools.
      .col-4
        h2
          | Feedback
          .review
            .rating-box
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            p
              | Earle is a very entertaining writer and this book sets useful, fun goals and delivers them in attainable ways. Sure, there's some JavaScript to learn, but it should be within the grasp of most practical-minded people.
            p.avatar
              | Sally K.
              img(src="https://d3iw72m71ie81c.cloudfront.net/female-52.jpg")

          .review
            .rating-box
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
            p
              | Very useful, a good blend of theory and practical information.
            p.avatar
              | Brad. F.
              img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")

          .review
            .rating-box
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
            p
              | Definitely a good read, form design is as important as the information that you intend to collect.
            p.avatar
              | Jina.
              img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jina/128.jpg")