section.whatyoulllearn
  .container
    .grid-12
      .col-7
        h2
          | What You'll Learn
        .grid-12
          .col-6.image
            img(src="images/image24.jpg")
          .col-6.blurb
            h5 Chapter 6
            h4 Optimizing Web Fonts for Performance: the State of the Art
            p
              | 67% of webpages now use custom fonts. In this article, Maria covers how web fonts are commonly used, what’s
              | not working, and some well-tested.
          .col-6.image
            img(src="images/image27.jpg")
          .col-6.blurb
            h5 Chapter 7
            h4 What Is a CDN (and How Does It Work)?
            p
              | CDN - you keep seeing the acronym. Maybe in URLs, maybe on landing pages, but it never quite clicked - what
              | are Content Delivery Networks, what do they do exactly?
          .col-6.image
            img(src="images/image28.jpg")
          .col-6.blurb
            h5 Chapter 10
            h4 Build a Notification Systems
            p
              | Bad CSS animations make your users’ CPU scream like a taxiing 747. That’s generally bad UX, m’kay? Relax. Maria
              | will show you how to use Chrome DevTools.
      .col-5
        h2
          | What You'll Learn
        p
          | 67% of webpages now use custom fonts. In this article, Maria covers how web fonts are commonly used, what’s not working,
          | and some well-tested.
        p
          | 67% of webpages now use custom fonts. In this article, Maria covers how web fonts are commonly used, what’s not working,
          | and some well-tested.
        p
          | 67% of webpages now use custom fonts. In this article, Maria covers how web fonts are commonly used, what’s not working,
          | and some well-tested.