section.whoisthisfor
  .container
    .grid-12
      .col-12
        h2
          | Who should take this course?
      .col-3_sm-6
        img(src="images/SVG/head1.svg")
        h4 Frontend Devs
        p
          | 安ho want to write high quality, fast-running code.
      .col-3_sm-6
        img(src="images/SVG/head6.svg")
        h4 Project Managers
        p
          | 安ho need to lead their teams to building better products.
      .col-3_sm-6
        img(src="images/SVG/head12.svg")
        h4 Marketers
        p
          | 安ho want to decrease drop-offs and increase conversions.
      .col-3_sm-6
        img(src="images/SVG/head8.svg")
        h4 Designers
        p
          | 安ho want to know how to avoid problems at the design stage.
