section.whoisthisfor
  .container
    .grid-12
      .col-12
        h2
          | Who should read this Book?
      .col-3
        img(src="https://cdn.rawgit.com/alexmwalker/Complete-Cover-Archive/23a9c2c3/misc/daphne.svg.svg")
        h4 Hardcore Gamers
        p
          | ...ready to jump from 'game consumer' to 'game creator'.
      .col-3
        img(src="https://cdn.rawgit.com/alexmwalker/Complete-Cover-Archive/6a8d260d/misc/dan.svg.svg")
        h4 Web Developers
        p
          | ... itching to learn a different kind of development.
      .col-3
        img(src="https://cdn.rawgit.com/alexmwalker/Complete-Cover-Archive/6a8d260d/misc/hector.svg.svg")
        h4 Writers &amp; Designers
        p
          | ... who have lots of great ideas but need a platform to deliver them.
      .col-3
        img(src="https://cdn.rawgit.com/alexmwalker/Complete-Cover-Archive/6a8d260d/misc/janice.svg.svg")
        h4 Anyone
        p
          | ... who ever thought 
          em 'Gee, game designer looks like a super-cool job'.