section.whoisthisfor
  .container
    .grid-12
      h2.col-12
        | Who should read this Book?
      .col-3_sm-6
        img(src="images/SVG/head4.svg")
        h3 Hardcore Gamers
        p
          | ... ready to jump from 'game consumer' to 'game creator'.
      .col-3_sm-6
        img(src="images/SVG/head3.svg")
        h3 Web Developers
        p
          | ... itching to learn a different kind of development.
      .col-3_sm-6
        img(src="images/SVG/head11.svg")
        h3 Writers &amp; Designers
        p
          | ... who have lots of great ideas but need a platform to deliver them.
      .col-3_sm-6
        img(src="images/SVG/head10.svg")
        h3 Anyone
        p
          | ... who ever thought 
          em 'Gee, game designer looks like a super-fun job'.


  // there are 12 heads 