$basefontsize : 12px;
$basefontsize1: 14px;
$basefontsize2: 16px;
$basefontsize3: 18px;
$basefontsize4: 20px;
$breakpoint-tablet: 36rem;
$breakpoint-laptop: 48em;
$breakpoint-desktop: 64em;
$breakpoint-wide-monitor: 80em;
$line-height: 1.7778rem;
$textcolor: #333;
$textgray: #828282;








@import 'layout'; // Gridelex - http://gridlex.devlint.fr/

html {
  font-size: $basefontsize;
  line-height: $line-height;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: $line-height;
  margin: auto;
  color: $textcolor;
}

@media screen and (min-width: $breakpoint-tablet) {
  html {
    font-size: $basefontsize1;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  html {
    font-size: $basefontsize2;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  html {
    font-size: $basefontsize3;
  }
}

@media screen and (min-width: $breakpoint-wide-monitor) {
  html {
    font-size: $basefontsize3;
  }
}

[class*=col-],
[class*=col_],
[class~=col] { // corrected padding-bottom for gridlex fitting my vertical grid
  padding: 0 .5rem $line-height/2;
  max-width: 100%; 
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  outline-color: rgba(0, 0, 255, 0.5)
}

.topoffset{ // this offsets the first item AFTER the fixed header
  padding-top: $line-height * 3.5;

}