/* ===  FOOTER === */

footer.mainfooter {
  background: #3D383E;
  //height: 12rem;
  font-weight: #333;
  padding: $line-height 0 $line-height 0;
  font-size: .75rem;
  color: #ccc;
  ul li a{
    color: #ddd;
  }
}