/* ===  CONSTRUCTION  CSS === */

/* ===  

This file contains temporary non-production CSS that helps with early development
coding. Currently it:

- Shows DIV edges
- Add .gridme to the body element to show the Typography grid
- Add .labelling to the body element to show how typography fits into the grid
- labels the media queries (top-right)


=== */

.borders div {
  outline: 1px rgba(255, 0, 0, .1) dashed;
}

.borders section {
  outline: 1px rgba(255, 0, 255, .1) dashed;
}

/**  VERTICAL GRID  **/

.ux-controls{
  position: absolute;
  right: 1rem;
  z-index: 999;
  top: 5rem;
}
.ux-controls:nth-of-type(2){
  top: 7rem;
}
.ux-controls:nth-of-type(3){
  top: 9rem;
}

input#borders[type=checkbox]:checked {
  outline: 1px greenyellow dashed;
}

body {
  position: relative;
}

body.vertical-rhythm:after {
  //baseline rhythm grid
  background: linear-gradient(to bottom, rgba(200, 225, 255, 0.3) 1px, transparent 1px);
  background-size: $line-height/2 $line-height/2;
  bottom: 0;
  margin: 0px;
  content: '';
  display: block;
  height: auto;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9999;
}

body.labelling:before {
  // the @media labels
  display: block;
  position: fixed;
  content: 'default';
  text-align: center;
  z-index: 9999;
  width: 4rem;
  right: 3rem;
  height: .8rem;
  font-size: .6rem;
  line-height: .8rem;
  background: orange;
  color: #fff;
  top: 2rem;
}

/**  LABELLING  **/

/* temporarily add '.labelling' class to container to see type structure */

.labelling h1,
.labelling h2,
.labelling h3,
.labelling h4,
.labelling h5,
.labelling h6,
.labelling p,
.labelling li,
.labelling ul,
.labelling ol {
  position: relative;
}

.labelling p:after,
.labelling h1:after,
.labelling h2:after,
.labelling h3:after,
.labelling h4:after,
.labelling h5:after,
.labelling li:after {
  display: block;
  position: absolute;
  font-family: sans-serif;
  right: 2%;
  padding: 0 2px;
  line-height: 1rem;
  top: 0;
  font-size: 9px;
  background: rgba(200, 0, 0, 0.2);
  color: #fff;
}

.labelling p {
  background: rgba(255, 200, 0, 0.1);
}

.labelling p:after {
  content: "<p>";
}

.labelling h1 {
  background: rgba(0, 200, 0, 0.1);
}

.labelling h1:after {
  content: "<h1>";
}

.labelling h2 {
  background: rgba(0, 200, 200, 0.1);
}

.labelling h2:after {
  content: "<h2>";
}

.labelling h3 {
  background: rgba(0, 0, 200, 0.1);
}

.labelling h3:after {
  content: "<h3>";
}

.labelling h4 {
  background: rgba(200, 0, 200, 0.1);
}

.labelling h4:after {
  content: "<h4>";
}

.labelling h5 {
  background: rgba(100, 200, 0, 0.1);
}

.labelling h5:after {
  content: "<h5>";
}

.labelling li {
  background: rgba(0, 100, 100, 0.1);
}

.labelling li:after {
  content: "<li>";
}

/*  === MEDIA QUERY LABELS ===  */ 

html body.labelling:before{
  content: 'default';
  background: goldenrod;
}

@media screen and (min-width: $breakpoint-tablet){
  html body.labelling:before{
      content: 'tablet';
      background: green;
  }
}
@media screen and (min-width: $breakpoint-laptop)	{
  html body.labelling:before{
      content: 'laptop';
      background: gray;
  }
}
@media screen and (min-width: 64em)	{
  html body.labelling:before{
      content: 'desktop';
      background: blueviolet;
  }
}
@media screen and (min-width: 80em) {
  html body.labelling:before{
      content: 'wide-monitor';
      background: rgb(55, 55, 247);
  }
}